{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{jobs}">
    <div class="jobbutler-grid">
        <f:for each="{jobs}" key="jobIdentifier" as="jobConfiguration" iteration="iterator">
            <f:if condition="{jobConfiguration.privilegeTarget}">
                <f:then>
                    <f:security.ifAccess privilegeTarget="{jobConfiguration.privilegeTarget}">
                        <f:render section="JobConfigurationList" arguments="{jobConfiguration: jobConfiguration}" />
                    </f:security.ifAccess>
                </f:then>
                <f:else>
                    <f:render section="JobConfigurationList" arguments="{jobConfiguration: jobConfiguration}" />
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:if>

<f:section name="JobConfigurationList">
    <f:render partial="JobOverview" arguments="{jobConfiguration: jobConfiguration}" />
</f:section>
